/* MovieForm.css */
.new-movie-outer-container {
  display: none;
  position: fixed;
  top: 300px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.new-movie-inner-container {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.new-movie-form {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-movie-form label {
  width: 300px;
}

.new-movie-form input,
.new-movie-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.new-movie-form button {
  align-self: center;
  display: block;
  width: 80%;
  font-size: larger;
  padding: 10px;
  background-color: #d2431f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
