.home-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-inner-container {
  width: 90%s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies-list-container {
}
